.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 20px;
    width: 1135px;
    padding-right: 0px;
    margin-right: 0px;
  }
  
  #img1 {
    width: 474px;
    height: auto;
    margin-right: 0px;
    padding-right: 118px;
  }
  
  p {
    font-size: 18px;
  }
  