.homecontainer {
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 140px;
    margin-bottom: 135px;
  }
  
  h2 {
    text-align: center;
  }
  
  .myself {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 1135px;
    padding-right: 0px;
    margin-right: 0px;
    flex-direction: row-reverse;
    align-content: center;

  }
  
  #gif {
    width: 407px;
    height: auto;
    margin-right: 80px;
    padding-right: 118px;
    border-radius: 90%;
}
  
  p {
    font-size: 18px;
    padding-left: 80px;
  }
  #head {
    padding-left: 8%;
  }