.skills section {
    margin-bottom: 20px;
    text-align: center;

  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skill-name {
    display: inline-block;
    width: 100px;
  }
  
  .skill-bar {
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 10px;
    margin-top: 5px;
    overflow: hidden;
  }
  
  .skill-level {
    background-color: #4CAF50;
    height: 100%;
  }
  .img-icon{
  height: 40px;
  width: 40px;
}

.pandas-icon{
  height: 40px;
  width: 60px;
}

.skills_container {
  row-gap: 0;
}

.skills_header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills_icon,
.skills_arrow {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--first-color);
}

.skills_icon {
  margin-right: var(--mb-0-75);
}

#skills_title {
  font-size: 155%;
  text-align: center;
  margin-left: 261%;
  padding-top:0%;
}
#skills_title1 {
  font-size: 155%;
  text-align: center;
  margin-left: 200%;
  padding-top:40%;
}
#skills_title2 {
  font-size:155%;
  text-align: center;
  margin-left: 530%;
  padding-top: 28px;
    margin-bottom: 0px;
}

.skills_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  text-align: center;
  margin-left: 0%;
  position: center;
}

.skills_arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills_list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills_titles {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: var(--mb-0-5); */
  padding-top: 4%;
  padding-right: 10px;
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.single_skill_icon {
  color: var(--first-color);
  font-size: var(--h1-font-size);
}

.external-logo {
  width: var(--h1-font-size);
}

.skills_bar {
  height: 5px;
  border-radius: 0.25rem;
  background-color: var(--first-color);
}

.skills_list {
  height: 0;
  overflow: hidden;
}

.skills_open .skills_list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
  transition: 0.3s;
}

.skills_open .skills_arrow {
  transform: rotate(-180deg);
}
.section_title {
  position: center;
  text-align: center;
  padding-top: 70px;
}
.section_subtitle {
  text-align: center;
  position: center;
  margin-left: 690px;
}