/* CSS for home section */
.homecontainer {
    padding: 170px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 88.5vh;
}

.homecontainer #gif {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 0px;
    margin-top: 50px;
}

.homecontainer #p1 {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}

.homecontainer #text-container {
    margin-top: 40px;
}

.homecontainer h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;

}

#typing-text {
    font-size: 1.5rem;
}