/* Responsive CSS */
@media (max-width: 768px) {
    .container .content {
        flex-direction: column;
        align-items: center;
    }

    .container .content img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .skills.section .skills_list {
        flex-direction: column;
    }

    .skills.section .skill_item {
        flex-basis: 100%;
    }

    .contactcontainer .info_item {
        flex-basis: 100%;
        width: 700px;
        margin-right: 40px;
        margin-left: 40px;

    }

    .footcontainer .footlogo {
        font-size: 16px;
        margin-left: 13px;
    }
}

@media (max-width: 480px) {
    .homecontainer #gif {
        width: 150px;
        height: 150px;
    }

    .homecontainer h2 {
        font-size: 24px;
    }

    .homecontainer #gif {
        width: 225px;
        height: 210px;
        border-radius: 50%;
        object-fit: cover;
        padding-top: 0px;
        margin-top: 50px;
    }

    .homecontainer #p1 {
        font-size: 14px;
    }

    .navbar {
        padding-left: 45px;
        padding-right: 45px;
        position: fixed;
        width: 380px;
    }

    .container .content p {
        font-size: 17px;
    }

    .contactcontainer {
        width: 386px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .footcontainer .footlogo {
        font-size: 14px;
        margin-left: 17px;
    }
}